$text-color:#343434;
$bg-gradient:linear-gradient(90deg, rgb(235, 231, 225), rgb(232, 231, 230), rgb(236, 235, 234));
$shadow-box:-1px -1px 5px 0px rgba(#bcbbed, 0.3);

@function fade($c) {
    @return linear-gradient($c, rgba($c, 0) 80%);
}