* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .container {
    margin: 0px auto;
    max-width: 1400px;
  }
  
  @media (max-width: 575.98px) {
    .container {
      max-width: 100%;
      padding: 0 25px 0 25px;
    }
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1919.98px) {
    .container {
      max-width: 1140px;
    }
  }
  
  @media (min-width: 1920) {
    .container {
      max-width: 1400px;
    }
  }

  @font-face {
    font-family: 'Futura PT Light';
    src: url('fonts/FuturaPT-Light.eot');
    src: url('fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/FuturaPT-Light.woff') format('woff'),
    url('fonts/FuturaPT-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

body{
    background:#eaeae9;
    /* background:#f4f7fb; */
    font-family: 'Roboto', sans-serif;
}


/* FORM */
form{
    max-width: 500px;
}

.form__phone{
width: 60%;
}


input{
    padding: 1rem 1.5rem;
    border: 0;
    border-radius: 0.25rem;
}

.input_wrap{
    background: white;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    border-radius:0.25rem;;
    -webkit-border-radius:0.25rem;
    -moz-border-radius:0.25rem;
    -ms-border-radius:0.25rem;
    -o-border-radius:0.25rem;
}

.btn{
    background: #31c376;
    border-color:#31c376;
    color: white;
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 1rem 5rem;
    font-size:12px;
    border-radius:0.25rem;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
/******************************************/


/* HEADER */
.header__inner {
    display: flex;
    align-items: center;
    padding: 20px 0 ;
  }
.header_wrap{
    display: flex;
    justify-content: space-between;
}

.header__inner{
    /* display: flex;
    flex-direction: row; */
    
}

.header__logo{
   padding-right: 20px;
}

.header__text{
    color: #d3d2d1;
    padding-left: 20px;
    font-size: 12px;
    width: 130px;
    font-weight: normal;
    border-left: 2px solid #d3d2d1;
}

.header__button{
  border: none;
  color: black;
  padding:12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border:1px solid #d3d2d1;
  margin-left: 60px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.header__button:hover {
background: #dadad8;
}

.header__contact{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__icon{
    padding:0 5px;
}

.header__phone{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    font-size: 12px;
}

.header__phone p{
    margin: 0;
}
.header__phone a{
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    margin: 5px 0 ;
    color: black;

}
/**********************************/



/* INTRO */

.intro{
    background:#eaeae9;
    padding-top: 20px;
    /* background-image: url(img/v26-banner-pt-homem.png);
    background-repeat: no-repeat;
    background-position:  bottom  right 80px;
    background-size: 50% auto; ; */
    height: 100vh;

}

.intro_wrap{
display: flex;
justify-content: space-between;
}


.intro__content{
    padding-top: 120px;
}

.intro__text{
    max-width: 670px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
}

.intro__text span{
font-weight: 500;
}
/**********************************/